<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WikipediaEntities" connectionString="metadata=res://*/IO.WikipediaDataModel.csdl|res://*/IO.WikipediaDataModel.ssdl|res://*/IO.WikipediaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POLYHYMNIA\SQLR2;initial catalog=Wikipedia;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>