<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="preprocessingResourcesPath" value="C:/Goran/Repos/TakeLabCore/takelabcore/Resources/Preprocessing" />
    <add key="posResourcesPath" value="C:\Goran\Repos\TakeLabCore\takelabcore\Resources\POS" />
    <add key="NERResourcesPath" value="C:\Goran\Repos\TakeLabCore\takelabcore\Resources\NER" />
    <add key="NBLinguisticsPath" value="C:\Goran\Repos\TakeLabCore\takelabcore\Resources\NodeBoxLinguistics" />
    <add key="other-resources" value="C:\Goran\Repos\EmbeSimp\EmbeSimp\Resources"/> 
  </appSettings>
  <connectionStrings>
    <add name="WikipediaEntities" connectionString="metadata=res://*/IO.WikipediaDataModel.csdl|res://*/IO.WikipediaDataModel.ssdl|res://*/IO.WikipediaDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=POLYHYMNIA\SQLR2;initial catalog=Wikipedia;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.9.0" newVersion="2.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.22.0" newVersion="2.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>